<md-toolbar>
  <div class="md-toolbar-tools">
    <div class="container-fluid" layout="row" layout-align="center center" flex>
      <a md-button ng-click="$ctrl.toTop()" id="footer">Topo</a>
      <!-- <uab-qr-code></uab-qr-code>
      <uab-get-audio href="{{$root.$global.manifest.audio}}"></uab-get-audio> -->
      <uab-pagination as-text="true"></uab-pagination>
    </div>
  </div>
</md-toolbar>

<div class="container" layout="row" layout-align="start center" flex>
  <img ng-src="./layout/ufc.png" />
  <!-- <span>Logo UFC</span> -->
  <div class="academic" layout="column" layout-align="center center" flex>
    <p class="text-center">
      Responsável: {{ $root.$global.manifest.academico.responsavel }} <br>
      Universidade Federal do Ceará - Instituto UFC Virtual
    </p>
  </div>
  <img ng-src="./layout/ufc-virtual.png" />
  <!-- <span>Logo UFCVirtual</span> -->
</div>

<uab-colors></uab-colors>
